*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("contactBack.png");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center;
}
a:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(8, 193, 234);
    transform: translateY(0.9);
    box-shadow: 2px rgb(167, 167, 174);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    list-style-type: none;
    text-decoration: none;
}
li{
    background-color: rgb(13, 238, 208);
    text-align: center;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 160px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 0px;
    transition: 0.5s;
    list-style-type: none;
    transform: rotate(2px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;
    margin-top: 1%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    margin-top: 2%;
    color: lightpink;
}
 a{
    text-align: center;
    text-decoration: none;
}
.email{
    margin: auto;
    width: fit-content;
}
.facebook{
    margin: auto;
    width: fit-content;
}
.telegram{
    margin: auto;
    width: fit-content;
}
.whatsap{
    margin: auto;
    width: fit-content;
}
.youtube{
    margin: auto;
    width: fit-content;
}
@media only screen and (max-width:800px){
    ul{
        position: absolute; 
        width: 100%;
        left: 0;
        top: 70px;
    }
    ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}