.b{
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688)url(malech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
}
.div{
    background-color: aliceblue;
    margin-top: auto;
    width: auto;
}
body{
    background-image: url("galleryBack.png");
    background-repeat: no-repeat;
    height: 600px;
    background-size: auto;
    background-position: center;
}
.div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
}
p{
    text-align: center;
    margin-top: auto;
    font-style: italic;
}
li{
    background-color: rgb(13, 238, 208);
    text-align: center;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 140px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 0px;
    transition: 0.5s;
    list-style-type: none;
    transform: rotate(3px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;
    margin-top: 1%;
}
a:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(8, 193, 234);
    transform: translateY(0.9);
    box-shadow: 2px rgb(167, 167, 174);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    list-style-type: none;
    text-decoration: none;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
    margin-top: 1%;
    width: auto;
}
.hong img{
    height: 250px;
    width: 200px;
    margin-top: 0%
}
.hong{
    margin-top: 0%;
    padding: 0px;
    width: 200px;
    height: 360;
    display: inline-block;
}
.shut{
    margin-top: 0%;
    padding: 0px;
    width: 200px;
    height: 360;
    display: inline-block;
}
.one{
    margin-top: 0%;
    padding: 0px;
    width: 200px;
    height: 360;
    display: inline-block;
}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 1%;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68,77,136, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
    margin-top: 1%;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: red;
    cursor: pointer;
}
.btn{
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background o.6s;
    margin-bottom: 0%;
}
.btn:hover{
    background: #dadada;
}
